<div class="container-fluid p-0 d-none d-lg-block">
  <nav class="navbar fixed-top navbar-expand-lg bg-dark bg-opacity-75">

    <div class="justify-content-start ms-3">
      <a href="#"><img src="assets/logo.jpg" class="rounded-circle" width="85" height="85"></a>
    </div>
  
    <button class="navbar-toggler bg-primary ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
      <i class="bi bi-filter"></i>
    </button>

    <div class="container text-uppercase mb-1">
      <div class="collapse navbar-collapse justify-content-center" id="main-nav">
        <ul class="navbar-nav h5">
          <li class="nav-item">
            <a class="nav-link text-white text-decoration-none p-2" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-decoration-none p-2" href="/menu">Menù</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-decoration-none p-2" href="/pizze-editor">Le tue pizze</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-decoration-none p-2" href="#">Prenota un tavolo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-decoration-none p-2" href="/order">Ordina</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white text-decoration-none p-2" href="/contacts">Contatti</a>
          </li>
        </ul>
      </div>
    </div>
    
    <div class="justify-content-end h5 me-3">
      <a class="text-light" href="/login">Accedi<i class="bi bi-person-circle mx-2"></i></a>
    </div>

  </nav>
</div>





<div class="container-fluid p-0 d-lg-none">
  <nav class="navbar fixed-top navbar-expand bg-primary">
    <div class="container-fluid justify-content-center text-center">

      <div class="container-fluid">
        <a href="#sidebar" data-bs-toggle="offcanvas" role="button" aria-controls="sidebar"><i class="bi bi-list text-black" style="font-size: 50px;"></i></a>
      </div>
      
      <div class="container-fluid">
        <a href="#"><img src="assets/logo.jpg" class="rounded-circle" width="85" height="85"></a>
      </div>

      <div class="container-fluid">
        <a href="/login"><i class="bi bi-person-circle text-black" style="font-size: 50px;"></i></a>
      </div>

    </div>
  </nav>
</div>

<div class="offcanvas offcanvas-start d-lg-none bg-light" tabindex="-1" id="sidebar" aria-labelledby="sidebar-label">
  <div class="offcanvas-header bg-primary">
    <h1 class="offcanvas-title fst-italic" id="sidebar-label">Pizzeria Qua Qua</h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">

    <a href="/menu" class="text-decoration-none h2">Menù</a><br><br>
    <a href="/pizze-editor" class="text-decoration-none h2">Le tue pizze</a><br><br>
    <a href="/#" class="text-decoration-none h2">Prenota un tavolo</a><br><br>
    <a href="/order" class="text-decoration-none h2">Ordina</a><br><br>
    <a href="/contacts" class="text-decoration-none h2">Contatti</a><br><br>

  </div>
</div>


