div.container-fluid div{
    float: left;
    width: 50%;
    }

h1{
    font-size: 37px;
}

p{
    font-size: 20px;
    font-weight: bold;

}

a{
    display: block;
}

#c1.dati_istituzionali a{
    width: 100%;}

#c2.dati_istituzionali a{
    color: black;
    font-style: normal;
    text-decoration: none;
    width: fit-content;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
