.btn-primary, .btn-primary:hover  , .btn-primary:visited {
    background-color: #8064A2 !important;
    border-color: #522983 !important;
    
}
.btn-primary:active{
    background-color: #522983 !important;
}

.column {
    float: left;
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
